# Compilados Delphi 7
*.exe
*.dll
*.dcu
*.bpl
*.dcp

# Arquivos temporários e de backup
*.~*
*.bak
*.tmp
*.map
*.tds

# Arquivos de configuração e projetos locais
*.cfg
*.dsk

# Histórico e recuperação
__history/
__recovery/

# Diretórios de build (caso existam)
Debug/
Release/
Win32/
x64/

# Arquivos do sistema operacional
Thumbs.db
.DS_Store
